{% extends "era/base.html" %}
{% block title %}Era - {{ carrera.name }}{% endblock %}
{% block content %}
<h1>Career {{ carrera.name }} info</h1>
<ul>
    <li><a>Name: {{ carrera.name }}</a></li>
    <li><a>Description: {{ carrera.description }}</a></li>
    <li><a>Facultad: {{ facultad.name }}</a></li>
</ul>
{% if user.is_authenticated and user == facultad.user %}
<a href="{% url 'era:career_edit' carrera.Facultad_idFacultad.id_Facultad carrera.id_carrera %}">Edit</a>
<a href="{% url 'era:career_delete' carrera.Facultad_idFacultad.id_Facultad carrera.id_carrera %}">Delete</a>
{% endif %}
{% endblock %}
